In [1]:
import pandas as pd
data=pd.read_csv("housing.csv")

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
len_data=len(data)*0.8
print(len_data)
len_data=int(len_data)
print(len_data)

16512.0
16512

In [3]:
train=data[:len_data]
print(train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
16507    -121.11     37.74                11.0       3886.0           599.0
16508    -121.10     37.80                35.0       1853.0           331.0
16509    -121.11     37.76                22.0       2606.0           411.0
16510    -121.16     37.73                 7.0       4956.0           941.0
16511    -121.25     37.76                22.0       2430.0           417.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
16507      1605.0       529.0         4.4213            182700.0
16508       958.0       340.0         3.3578            149000.0
16509      1252.0       397.0         4.1833            192100.0
16510      3006.0       915.0         3.4426            139000.0
16511      1292.0       391.0         3.4009            182400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
16507          INLAND
16508          INLAND
16509          INLAND
16510          INLAND
16511          INLAND

[16512 rows x 10 columns]

In [4]:
print(train.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        159
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [10]:
train=train.copy()
old=train['total_bedrooms'].std()
train['total_bedrooms']=train['total_bedrooms'].fillna(train['total_bedrooms'].median())

In [6]:
print(train.isnull().sum())

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [7]:
new=train['total_bedrooms'].std()

In [8]:
result=abs(old-new)

In [9]:
print(result)

1.975147291645726