## 판다스에서 특정 행(row)이나 열(column)을 골라낼 때 사용

In [1]:
#loc
#df.loc[행 인덱싱 값, 열 인덱싱 값]
import pandas as pd
customer_m=pd.read_csv("customer_master.csv")
customer_m

,customer_id,customer_name,registration_date,email,gender,age,birth,pref
0,IK152942,김서준,2019-01-01 0:25,hirata_yuujirou@example.com,M,29,1990-06-10,대전광역시
1,TS808488,김예준,2019-01-01 1:13,tamura_shiori@example.com,F,33,1986-05-20,인천광역시
2,AS834628,김도윤,2019-01-01 2:00,hisano_yuki@example.com,F,63,1956-01-02,광주광역시
3,AS345469,김시우,2019-01-01 4:48,tsuruoka_kaoru@example.com,M,74,1945-03-25,인천광역시
4,GD892565,김주원,2019-01-01 4:54,oouchi_takashi@example.com,M,54,1965-08-05,울산광역시
...,...,...,...,...,...,...,...,...
4995,AS677229,정우석,2019-07-31 16:52,hirayama_risa@example.com,F,77,1941-10-17,대전광역시
4996,HD758694,정영훈,2019-07-31 19:09,nakahara_mahiru@example.com,F,27,1991-11-13,광주광역시
4997,PL538517,정준기,2019-07-31 19:30,tabata_yuu1@example.com,F,73,1945-12-28,대전광역시
4998,OA955088,정도형,2019-07-31 22:32,setouchi_hikaru@example.com,F,75,1944-04-09,부산광역시
4999,HI349563,정지석,2019-07-31 22:49,horii_kanji@example.com,M,21,1998-02-06,서울특별시

In [2]:
#레이블 이름이 0인 행 추출
customer_m.loc[0]

customer_id                             IK152942
customer_name                                김서준
registration_date                2019-01-01 0:25
email                hirata_yuujirou@example.com
gender                                         M
age                                           29
birth                                 1990-06-10
pref                                       대전광역시
Name: 0, dtype: object

In [3]:
#레이블 이름이 1인 행 추출
customer_m.loc[1]

customer_id                           TS808488
customer_name                              김예준
registration_date              2019-01-01 1:13
email                tamura_shiori@example.com
gender                                       F
age                                         33
birth                               1986-05-20
pref                                     인천광역시
Name: 1, dtype: object

In [4]:
#레이블 이름이 ucstomer_id인 열 추출
customer_m.loc[:, "customer_id"]

0       IK152942
1       TS808488
2       AS834628
3       AS345469
4       GD892565
          ...
4995    AS677229
4996    HD758694
4997    PL538517
4998    OA955088
4999    HI349563
Name: customer_id, Length: 5000, dtype: object

## iloc 예시
- df.iloc[행인덱스,열인덱스]

In [5]:
customer_m.iloc[0]

customer_id                             IK152942
customer_name                                김서준
registration_date                2019-01-01 0:25
email                hirata_yuujirou@example.com
gender                                         M
age                                           29
birth                                 1990-06-10
pref                                       대전광역시
Name: 0, dtype: object

In [6]:
#두번째 행 추출
customer_m.iloc[1]

customer_id                           TS808488
customer_name                              김예준
registration_date              2019-01-01 1:13
email                tamura_shiori@example.com
gender                                       F
age                                         33
birth                               1986-05-20
pref                                     인천광역시
Name: 1, dtype: object

In [7]:
#첫번째열 추출
customer_m.iloc[:, 0]

0       IK152942
1       TS808488
2       AS834628
3       AS345469
4       GD892565
          ...
4995    AS677229
4996    HD758694
4997    PL538517
4998    OA955088
4999    HI349563
Name: customer_id, Length: 5000, dtype: object

In [8]:
#네번째 열 추출
customer_m.iloc[:, 3]

0       hirata_yuujirou@example.com
1         tamura_shiori@example.com
2           hisano_yuki@example.com
3        tsuruoka_kaoru@example.com
4        oouchi_takashi@example.com
                   ...
4995      hirayama_risa@example.com
4996    nakahara_mahiru@example.com
4997        tabata_yuu1@example.com
4998    setouchi_hikaru@example.com
4999        horii_kanji@example.com
Name: email, Length: 5000, dtype: object